azure-identity
azure-identity-broker
azure-mgmt-resource
azure-mgmt-subscription
azure-mgmt-storage 
azure-mgmt-network
azure-mgmt-keyvault
azure-keyvault-keys
azure-mgmt-sql
azure-mgmt-web
azure-mgmt-compute
azure-mgmt-containerregistry
azure-mgmt-authorization
azure-mgmt-security
azure-mgmt-monitor
requests
colorama
pandas 
openpyxl
python-dotenv
pyyaml